<nav class="navbar navbar-light main-navigation">
  <a class="navbar-brand">
    <img
      src="assets/images/icons/weather.svg"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt="Home"
    />
    World Weather App
  </a>
  <form class="form-inline">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search for your city"
      aria-label="Search"
    />
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>
</nav>
