@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}

@mixin flex-display($align-value, $justify-value, $direction-value) {
  display: flex;
  align-items: $align-value;
  justify-content: $justify-value;
  flex-direction: $direction-value;
}
